{% extends 'base.html' %} 
{% block content %} 
<nav class="navbar navbar-light bg-light">
<a class='navbar-brand'>Welcome {{username}}</a>
<a href="/userlogout/" class="btn btn-danger">logout</a>
</nav>

<div class="container" style="margin: auto;width: 600px">
    <table style="width: 700px">
        <tr>
            <th>ename</th>
            <th>edate</th>
            <th>etime</th>
            <th>eloc</th>
            <th>enum</th>
            <th>edisc</th>
        </tr>
        {% for event in events %} 
        <tr>
            <td>{{event.ename}}</td>
            <td>{{event.edate}}</td>
            <td>{{event.etime}}</td>
            <td>{{event.eloc}}</td>
            <td>{{event.enum}}</td>
            <td>{{event.edisc}}</td>
        </tr>
        {% endfor %} 
    </table>
</div>
{% endblock %} 